body{
  width: 100%;
  margin: auto;
  background-image: url(../img/DSC_93.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  font-family: 'Itim', cursive;
  color: #794d6f;

}
main{
  height: 1500px;
}
header{
  /* height: 100%; */
  position: relative;
}
nav{
  width: 100%;
  background-color: #fbd9cf;
  margin-top: 0%;
  position: sticky;
  top: 0;
}
li{
  display: inline-block;
  list-style-type: none;
  padding: 1% 8%;
  font-size: 1.3em;
  color: #794d6f;

}
a{
  text-decoration: none;
  color: #794d6f;
}
a:hover{
  color: #9d7a90;
}
#logo {
  width: 6%;
  border-radius: 60px;
  margin-right: 24%;
  margin-top: 1%;
  margin-bottom: 3%;
  border: double #794d6f;
}
#logodiv {
  text-align: center;
}
h1{
  font-family: 'Monoton', cursive;
  font-size: 6em;
  margin-top: -10%;
  color: #794e6f;
}
header ul{
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.slideshow {
  
  height: 500px;
  width: 100%;
  /* margin-left: 1.5%; */
  /* margin-top: 1%; */
  
}

footer {
 
  width: 100%;
  background-color: #FBD9CF;
  text-align: center;
  font-family: 'Itim', cursive;
  color: #794E6F;
  z-index: 9999999;
  position: fixed;
  bottom: 0;
}
.footerinfo {
  font-size: 1em;
  padding: 0.5% 5%;
}
#phonenumber {
  margin-left: -110px;
}
#phonenumber:hover {
  color: #9D7A90;
}


.flip-box {
  background-color: transparent;
  width: 30%;
  height: 367px;
  perspective: 1000px;
  margin-left: 13%;
  margin-top: 2%;
  float: left;
  
}
.flip-box-yazan {
    background-color: transparent;
    width: 30%;
    height: 367px;
   margin-bottom: 5%;
    perspective: 1000px;
    margin-left: 36%;
    margin-top: 2%;
    float: left;
}
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-box-inner-yazan{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }
  
  
  .flip-box-yazan:hover .flip-box-inner-yazan {
    transform: rotateY(180deg);
  }
  
  .flip-box-front-yazan, .flip-box-back-yazan {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }
  .flip-box-front {
   
    color: #fbd9cf;
  }
  .flip-box-front-yazan {
   
    color: #fbd9cf;
  }
  
  .flip-box-back {
    background-color: #fbd9cf;
    color: #794d6f;
    transform: rotateY(180deg);
    border-radius: 30%;
  }

 
  .flip-box-back-yazan {
    background-color: #fbd9cf;
    color: #794d6f;
    transform: rotateY(180deg);
    border-radius: 30%;
  }

  h2#name {
    margin-top: 12%;
    font-size: 250%;
}
p#description {
    margin-top: 7%;
    font-size: 130%;
    line-height: 125%;

}

img#potos {
    border-radius: 30%;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
}
.content-p{
  font-size: 1.5em;
  text-align: justify;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-bottom: solid #794d6f;
  padding-bottom: 5%;
text-align:center;
}
h3 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-top: 5%;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}