main {
  text-align: center;
  width: 100%;
}

#img-q {
  width: 90%;
  height: 500px;
  margin: 15px 5% 15px 5%;
}
/* 
.ins{
    width: 50%;
} */
#quiz {
  width: 70%;
  margin: 25px 15%;
  border: 1px solid gray;
  background: #fff59d70;
}
.q-p {
  background: gainsboro;
  color: black;
  text-align: start;
  padding: 10px 0px 10px 15px;
  /* border-radius: 0px; */
  /* border-radius: 12px 12px 12px 12px; */
}
form div {
  display: inline-block;
  margin: 0px 50px 0px 50px;
  padding: 3px 0 20px 0;
  font-size: 22px;
  font-weight: 700;
}
form div:active {
  /* display: inline;
  margin: 0 50px 0 50px; */
  color: red;
  /* visibility: hidden; */
}
form input[type='radio'] {
  visibility: hidden;
}

.ins p {
  font-weight: 700;
  word-spacing: 3px;
  font-size: larger;
}
.ins {
  margin-bottom: 40px;
}
.ins h3 {
  font-weight: 700;
  word-spacing: 3px;
  font-size: 45px;
}

header {
  margin-bottom: 4%;
}
