body {
  width: 100%;
  margin: auto;
  background-image: url(../img/DSC_93.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  color: #794d6f;
  font-family: 'Itim', cursive;
}

header {
  /* height: 100%; */
  position: relative;
  margin-bottom: 8%;
}
nav {
  width: 100%;
  background-color: #fbd9cf;
  margin-top: 0%;
  /* position: sticky;
  top: 0; */
}
li {
  display: inline-block;
  list-style-type: none;
  padding: 1% 8%;
  font-size: 1.3em;
  color: #794d6f;
}

a {
  text-decoration: none;
  color: #794d6f;
}

a:hover {
  color: #9d7a90;
}
#logo {
  width: 6%;
  border-radius: 60px;
  margin-right: 24%;
  margin-top: 1%;
  margin-bottom: 3%;
  border: double #794d6f;
}
#logodiv {
  text-align: center;
}
h1 {
  font-family: 'Monoton', cursive;
  font-size: 6em;
  margin-top: -10%;
  color: #794e6f;
}

header ul {
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.slideshow {
  height: 500px;
  width: 100%;
  /* margin-left: 1.5%; */
  /* margin-top: 1%; */
  /* animation: fadeI 3s linear;
animation: fadeO 3s linear; */
  animation: cf3FadeInOut ease-in-out forwards 5s alternate;
}
/* 
  @keyframes fadeI{
    0%{ opacity: 0.2 }

    50% { opacity: 0.5 }
    100%{opacity: 1}
  }
  @keyframes fadeO{
    0%{ opacity: 1 }
    50% { opacity: 0.5 }
    100%{ opacity: 0.2 }
  } */
@keyframes cf3FadeInOut {
  0% {
    opacity: 0.2;
  }
  45% {
    opacity: 0.5;
  }
  55% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}
footer {
  height: 500px;
  width: 100%;
  /* margin-left: 1.5%; */
  /* margin-top: 1%; */
}

footer {
  background-color: #fbd9cf;
  text-align: center;

  padding: 0.5%;
  /* font-family: 'Satisfy', cursive; */
  color: #794e6f;
}
.footerinfo {
  font-size: 1em;
  padding: 0.5% 5%;
}
#phonenumber {
  margin-left: -110px;
}

#phonenumber:hover {
  color: #9d7a90;
}

.cardfullbox {
  float: right;
  border: double #794d6f;
  border-width: 10px;
  margin-right: 2%;
  background-color: #fbd9d094;

  margin-bottom: 4%;
  animation: swing 3s ease alternate forwards;
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
#contentimg {
  margin-right: 25%;
  margin-left: 29%;
  border: double #794d6f;
  border-width: 10px;
  border-radius: 50%;
  width: 29%;
  margin-top: 3%;
  animation: rollIn 5s ease alternate infinite;
}
@keyframes rollIn {
  0% {
    opacity: 0.5;
    /* -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); */
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -90deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 2, 0);
  }
  100% {
    opacity: 0.5;
    /* -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); */
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 90deg);
  }
}

.cardphoto {
  width: 34%;
  height: 300px;
  float: left;
  border-right: solid #794d6f;
  border-width: 5px;
}
.cardtext {
  float: right;
  margin-top: -30%;
  margin-left: 40%;
  line-height: 35px;
  font-size: 1.5em;
  margin-bottom: 0%;
  width: 60%;
  color: #794d6f;
}
.cardtitle {
  font-size: 2em;
  display: inline-block;
  border-bottom: solid #794d6f;
}
.card-rate {
  margin-bottom: 5%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}


.pop img{
width: 100%;
height: 291px;

}
.pop h4 {
  margin: 7px 0 7px 0;
  font-size: x-large;
  font-weight: 700;

  color: #fbd9cf;

}
.pop {
/* opacity: 5; */
display: none;
position: fixed;
z-index: 99;
top: 5%;
left: 27%;
width: 70%;
background-color:#000000cc;
height: 90%;
overflow: auto;
text-align: center;
/* border: 1px; */
border-radius: 25px;
}
#xpop{
margin-left: 90%;

  font-size: 20px;
  color:#fbd9cf;
  cursor: pointer;
}

main {
  height: 5250px;
}

#render-objects {
  float: right;
  width: 70%;
}

.form-style {
  padding: 10px 20px;
  background: #f4f7f8;
  /* margin-left: 1%; */
  margin-right: 1%;
  background-color: #fbd9cf;
  border-radius: 60px;
  width: 20%;
  height: 12%;
}

aside {
  color: #794d6f;
  float: left;
  position: sticky;
  top: 8%;
  z-index: 99999;
}

#formtitle {
  font-size: 152%;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  animation: blinkingText 2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #794d6f;
  }
  49% {
    color: #794d6f;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #794d6f;
  }
}

#maincontent {
  width: 70%;
  float: right;
  line-height: 30px;
}

.content-article {
  margin-top: 8%;
}
h3 {
  font-size: 2em;
  margin-bottom: 5%;
  margin-left: 3%;
}
.content-p {
  font-size: 1.5em;
  text-align: justify;
  margin-right: 5%;
}
legend {
  text-align: center;
  font-size: 138%;
  margin-bottom: 8%;
}
div#where {
  margin-right: 68%;
  float: left;
  margin-bottom: 18%;
}
p#option {
  font-size: 161%;
  margin-bottom: 4%;
}
div#choose {
  align-items: center;
  margin-left: 10%;
}

div#cat {
  margin-right: 50%;
  float: left;
  margin-bottom: 10%;
}

input#Budget {
  border: 2px solid #794d6f;
  border-radius: 51px;
  width: 130%;
  margin-top: 6%;
  align-self: center;
  outline: 0;
  padding: 10px 20px;
  color: limegreen;
}
input#Budget:focus {
  border: 2px solid limegreen;
}

/* input#bot {
  margin-top: 4%;
  margin-left: 37%;
} */

select#rating {
  width: 606%;
  border: 2px solid #794d6f;
}

button {
  border: 2px solid #794d6f;
  border-radius: 51px;
  width: 40%;
  margin-top: 2%;
  align-self: center;
  outline: 0;
  padding: 20px 20px;
  color: #ffffff;
  margin-left: 26%;
  background-color: #794d6f;
}

button:hover {
  color: #ffffff;
  background-color: #9d7a90;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 4%;
}
.inp-cbx {
  display: none;
}
.inp-cbx:checked + .cbx span:first-child {
  background: #d1b4ba;
  border-color: #794d6f;

  animation: wave 0.4s ease;
}

.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 3.4px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
#popbtn{
  border-radius: 51px;
    width: 29%;
    margin-top: 3%;
    align-self: center;
    outline: 0;
    padding: 20px 20px;
    color: black;
    margin-left: 10px;
    background-color: #fbd9cf;
    font-size: 20px;
}

.pop p{
  margin: 2px 20px 2px 20px;
  color: #fbd9cf;
}
